@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Shared Style */
.display-flex{
    display: flex;
}

/* Header Part Style */
header{
    padding: 87px 120px 0;
}

/* Navbar Part Style */
nav{
    justify-content: space-between;
}

ul{
    gap: 34px;
    list-style: none;
}

ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}

nav h3{
    font-size: 1.25rem;
    color: #3A3A3A;
}

/* Banner Style Part */
#banner{
    margin-top: 71.8px;
    justify-content: space-between;
}

.banner-written{
    max-width: 582px;
    margin-top: 74px;
}

.banner-written h1{
    font-size: 3.25rem;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.banner-written p{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.btn-preebook{
    padding: 10px 24px;
    color: #FFFFFF;
    background-color: #E02C6D;
    border: none;
    border-radius: 41px;
}

.banner-image{
    margin-right: 133px;
    width: 475px;
    height: 475px;
    background: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-width: 440px;
    min-height: auto;
}

.banner-image img{
    width: 100%;
    height: auto;
}

.upper-hr{
    margin-top: 69px;
}
.our-sponsor{
    padding: 36px 62px;
}

.our-sponsor-inner{
    justify-content: space-between;
    gap: 61px;
    align-items: center;
}

/* Items Related Style */

#items{
    margin: 0 auto;
    padding: 100px 197px;
}

#items h3{
    font-size: 1.75rem;
    color: #3A3A3A;
    margin-bottom: 30px;
    text-align: center;
}

.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0 auto;
    max-width: 1047px;
}

.card-items{
    max-width: 329px;
    /* border: 1px solid red; */
    border-radius: 5px;
    padding: 17px 14px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}

.card-items h5{
    font-size: 1.75rem;
    font-weight: 500;
    columns: #18191F;
}

.card-items span{
    font-size: 1.5rem;
    line-height: 150%;
    color: #000000;
}

.card-items p{
    font-size: 0.875rem;
    font-weight: bold;
    color: #787885;
}

.see-more{
    text-align: right;
    color: #E02C6D;
    font-weight: bold;
    margin-top: 50px;
}